<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="aboutus/aboutcommon/head"></head>
<body>
<!-- this is the common top begin -->
<top data-th-replace="aboutus/aboutcommon/top"></top>
<!-- this is the common top end -->

<div class="container-fluid row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8 mt-40">
        <span class="logo-font">达米</span><hr/>
    </div>
    <div class="col-xs-2"></div>
</div>

<div class="container-fluid row">
    <lfetnav data-th-replace="aboutus/aboutcommon/leftNav"></lfetnav>
    <div class="col-xs-7 row border-one border-radius mt-40 ml-30">
        <span>服务条款</span><hr/>
        <span>dami......................</span>
    </div>
</div>

<bottom data-th-replace="seller/sellercommon/bottom"></bottom>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../js/common/jquery-3.1.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>