<leftnav>
    <div class="col-xs-2"></div>
    <div class="col-xs-1 border-one border-r6 mt-20">
        <table class="table mt-20">
            <tr class="active mt-20">
                <td colspan="2"><a href="#" th:href="@{/demo/aboutUs}"><i class="iconfont">&#xe6e4;</i>关于达米</a></td>
            </tr>
            <tr class="active">
                <td colspan="2"><a href="#" th:href="@{/demo/service}"><i class="iconfont">&#xe625;</i>服务条款</a></td>
            </tr>
            <tr class="active">
                <td colspan="2"><a href="#" th:href="@{/demo/disclaimer}"><i class="iconfont">&#xe67e;</i>免责声明</a></td>
            </tr>
            <tr class="active">
                <td colspan="2"><a href="#" th:href="@{/demo/map}"><i class="iconfont">&#xe6a2;</i>网站地图</a></td>
            </tr>
            <tr class="active">
                <td colspan="2"><a href="#" th:href="@{/demo/contactUs}"><i class="iconfont">&#xe725;</i>联系我们</a></td>
            </tr>
        </table>
    </div>
</leftnav>