<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="seller/sellercommon/sellerhead"></head>
<body>
<!-- this is the common top begin -->
<top data-th-replace="seller/sellercommon/top"></top>
<!-- this is the common top end -->


<div class="container-fluid row">
    <left data-th-replace="seller/sellercommon/left"></left>
    <div class="col-xs-7 row border-one border-radius mt-40 ml-30">
        <div class="mt-20">
            <a href="#">卖家中心</a>
            <span>&gt;</span>
            <span>修改店铺信息</span>
            <hr/>
        </div>
        <div class="text-center">
            <form action="#" method="post">
                <div><span class="text-size">卖家姓名:</span><input class="border-two mt-20 ml-5" type="text" required="required"/></div>
                <div><span class="text-size">店铺名称:</span><input class="border-two mt-20 ml-5" type="text" required="required"/></div>
                <div><span class="text-size">学生学号:</span><input class="border-two mt-20 ml-5" type="text" required="required"/></div>
                <div><span class="text-size">手机号码:</span><input class="border-two mt-20 ml-5" type="text" required="required"/></div>
                <div><input type="submit" class=" mt-20 ml-5 btn-success btn-lg" value="提交修改信息"/></div>
            </form>
        </div>
    </div>
    <div class="col-xs-1"></div>
</div>




<!--This is the common footer Begin-->
<bottom data-th-replace="seller/sellercommon/bottom"></bottom>



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../js/common/jquery-3.1.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>