<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="seller/sellercommon/sellerhead"></head>
<body>
<!-- this is the common top begin -->
<top data-th-replace="seller/sellercommon/top"></top>
<!-- this is the common top end -->
<div class="container-fluid">
    <lfet data-th-replace="seller/sellercommon/left"></lfet>
    <div class="col-xs-7 row border-one border-radius mt-40 ml-30">
        <div class="mt-20">
            <h2 class="active">卖家个人中心</h2>
            <hr/>
        </div>
        <div>
            <div class="text-center">
                <img src="../img/account.png" class="icon_wh"/><br/>
                <h2 style="color: cornflowerblue;">我的个人店铺</h2><br/>
            </div>
        </div>
        <div class="col-xs-4">
            <h3 style="color: cornflowerblue;"><i class="iconfont">&#xe61a;</i>店铺管理须知</h3>
            <ol>
                <li>您已成功注册成为达米卖家</li>
                <li>您可以在点击左侧导航栏进入修改信息页面，修改店铺信息</li>
            </ol>
        </div>
        <div class="col-xs-4">
            <h3 style="color: cornflowerblue;"><i class="iconfont">&#xe6db;</i>商品管理须知</h3>
            <ol>
                <li>发布新产品，可以上传商品图片</li>
                <li>查看库存，管理库存，修改商品价格</li>
            </ol>
        </div>
        <div class="col-xs-4">
            <h3 style="color: cornflowerblue;"><i class="iconfont">&#xe626;</i>交易管理须知</h3>
            <ol>
                <li>查看订单信息</li>
                <li>只可查看订单状态，不可修改</li>
            </ol>
        </div>
    </div>
    <div class="col-xs-1">
        <right data-th-replace="seller/sellercommon/rightdate"></right>
    </div>
</div>




<bottom data-th-replace="seller/sellercommon/bottom"></bottom>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../js/common/jquery-3.1.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>