<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="seller/sellercommon/sellerhead"></head>
<body>
<!-- This is the Top for register Begin -->
<div class="container-fluid back_img">
    <div class="row">
        <div class="col-xs-12 text-center mt-60">
            <span class="reg_logo">达米DaMi欢迎您注册为卖家</span>
        </div>
    </div>
    <div class="row mt-60 mb-200">
        <div class="col-xs-12 border-one form-border" style="margin-left: 38%">
            <form class="mb-10" th:action="@{/seller_center}" method="post">
                <div class="form-group mb-5">
                    <label for="shop_name">店铺名</label>
                    <input type="text" class="form-control" id="shop_name"  placeholder="您注册的店铺名" onclick="checksname()"/><span></span>
                </div>
                <div class="form-group">
                    <label for="username">社团名</label>
                    <input type="text" class="form-control" id="username" placeholder="所属社团名" onclick="checkuname()"/><span></span>
                </div>
                <div class="form-group">
                    <label for="card">一卡通学号</label>
                    <input type="text" class="form-control" id="card" placeholder="请输入您的一卡通账号" onclick="checkcard()"/><span></span>
                </div>
                <div class="form-group">
                    <label for="password">密码</label>
                    <input type="password" class="form-control" id="password" placeholder="设置您的登录密码" onclick="checkpass()"/><span></span>
                </div>
                <div class="form-group">
                    <label for="re_password">重复密码</label>
                    <input type="password" class="form-control" id="re_password" placeholder="请再次输入您的密码" onclick="recheckpass()"/><span></span>
                </div>
                <div class="form-group">
                    <label for="email">邮箱</label>
                    <input type="email" class="form-control" id="email" placeholder="请输入邮箱" onclick="checkemail()"/><span></span>
                </div>
                <div class="form-group">
                    <label for="phone">手机号</label>
                    <input type="text" class="form-control" id="phone" placeholder="输入您的11位手机号" onclick="checkphone()"/>
                </div>
                <div class="form-group">
                    <button type="submit" onsubmit="return checkAll()"  class="btn btn-default">注册</button>
                </div>
            </form>
        </div>
    </div>
</div>




<!--This is the common footer Begin-->
<div class="container">
    <div class="row mt-20 font-small">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <div id="footer">
                <div class="footerNav text-center">
                    <a href="#">关于我们</a> |
                    <a href="#">服务条款</a> |
                    <a href="#">免责声明</a> |
                    <a href="#">网站地图</a> |
                    <a href="#">联系我们</a>
                </div>
                <div class="copyRight text-center">
                    Copyright DaMi
                </div>
            </div>
        </div>
        <div class="col-xs-2"></div>
    </div>
</div>






<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/common/jquery-3.1.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
<!--This is the common footer End-->