<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="seller/sellercommon/sellerhead"></head>
<body>
<!-- this is the common top begin -->
<top data-th-replace="seller/sellercommon/top"></top>
<!-- this is the common top end -->


<div class="container-fluid row">
    <lfet data-th-replace="seller/sellercommon/left"></lfet>
    <div class="col-md-6 row border-one border-radius mt-40 ml-30 div_h">
        <div class="mt-20">
            <a href="#">卖家中心</a>
            <span>&gt;</span>
            <a href="#">商品管理</a>
            <span>&gt;</span>
            <span>售出商品</span>
            <hr/>
        </div>
        <div class="mt-120 ml-20">
            <form action="#" method="get">
                <div>
                    <span>订单编号:</span><input name="id" class="mt-20 ml-5" type="text" value="" th:text="${order.id}"/>
                    <button type="submit" class="mt-5 ml-5 mb-10 btn-primary">搜索订单</button>
                </div>
                <div>
                    <span>商品编号:</span><input name="productId" class="mt-20 ml-5 mr-55" type="text" value="" th:text="${order.orderProductId}"/>
                    <span>商品名称:</span><input name="productName" class="mt-20 ml-5 mr-55" type="text" value="" th:text="${order.productName}"/>
                    <span>买家编号:</span><input name="buyerId" class="mt-20 ml-5" type="text" value="" th:text="${order.userId}"/>
                </div>
                <div><span>买家昵称:</span><input name="buyerName" class="mt-20 ml-5 mr-55" type="text" value="" th:text="${order.userName}"/>
                    <span>成交时间:</span><input  name="createTime" class="mt-20 ml-5 mr-55" type="text" value="" th:text="${order.createTime}"/>
                    <span>支付金额:</span><input name="totalPrice" class="mt-20 ml-5 mr-55" type="text" value="" th:text="${order.totalPrice}"/>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>


<!--This is the common footer Begin-->
<bottom data-th-replace="seller/sellercommon/bottom"></bottom>



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../js/common/jquery-3.1.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../bootstrap/dist/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function(){
        $(".shop_login").click(function(){
            $(".form_fade").fadeIn();

        });
        $(".fadeout").click(function(){
            $(".form_fade").fadeOut();

        });
//        jQuery.jqtab = function(tabtit,tabcon) {
//            $(tabcon).hide();
//            $(tabtit+" li:first").addClass("thistab").show();
//            $(tabcon+":first").show();
//
//            $(tabtit+" li").click(function() {
//                $(tabtit+" li").removeClass("thistab");
//                $(this).addClass("thistab");
//                $(tabcon).hide();
//                var activeTab = $(this).find("a").attr("tab");
//                $("#"+activeTab).fadeIn();
//                return false;
//            });
//
//        };
//        /*调用方法如下：*/
//        $.jqtab("#tabs",".tab_con");
    });
</script>

</body>
</html>