<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/html">
<head data-th-replace="seller/sellercommon/sellerhead"></head>
<body>
<!-- this is the common top begin -->
<top data-th-replace="seller/sellercommon/top"></top>

<!-- this is the common top end -->

<div class="container-fluid row">
    <lfet data-th-replace="seller/sellercommon/left"></lfet>
    <div class="col-xs-7 row border-one border-radius mt-40 ml-30">
        <div class="mt-20">
            <a href="#">卖家中心</a>
            <span>&gt;</span>
            <a href="#">商品管理</a>
            <span>&gt;</span>
            <span>管理库存</span>
            <hr/>
        </div>
        <div class="mt-20 ml-80">
            <table>
                <tr>
                    <td>
                        <form action="#" method="post">
                            <img class="sold-pro-img mt-20 mr-20" src="#" alt="商品1"/><br/>
                            <span class="mt-5">库存数量：</span><input type="text" class="border-3 mr-20 mt-5"/><br/>
                            <div class="mt-5">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                    修改价格
                                </button>

                                <!-- Modal -->
                                <div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                                    <div class="modal-dialog modal-sm" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">修改商品价格</h4>
                                            </div>
                                            <div class="modal-body">
                                                <input type="text" value="$"/>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                <button type="submit" class="btn btn-primary">保存修改</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button onclick="this.disabled=this.disabled?false:true">下架商品</button>
                            </div>
                        </form>
                    </td>

                    <td>
                        <form action="#" method="post">
                            <img class="sold-pro-img mt-20 mr-20" src="#" alt="商品1"/><br/>
                            <span class="mt-5">库存数量：</span><input type="text" class="border-3 mr-20 mt-5"/><br/>
                            <div class="mt-5">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                    修改价格
                                </button>

                                <!-- Modal -->
                                <div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                                    <div class="modal-dialog modal-sm" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">修改商品价格</h4>
                                            </div>
                                            <div class="modal-body">
                                                <input type="text" value="$"/>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                <button type="submit" class="btn btn-primary">保存修改</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input type="button" value="下架商品" class="mr-20 delete"/>
                            </div>
                        </form>
                    </td>

                    <td>
                        <form action="#" method="post">
                            <img class="sold-pro-img mt-20 mr-20" src="#" alt="商品1"/><br/>
                            <span class="mt-5">库存数量：</span><input type="text" class="border-3 mr-20 mt-5"/><br/>
                            <div class="mt-5">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                    修改价格
                                </button>

                                <!-- Modal -->
                                <div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                                    <div class="modal-dialog modal-sm" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">修改商品价格</h4>
                                            </div>
                                            <div class="modal-body">
                                                <input type="text" value="$"/>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                <button type="submit" class="btn btn-primary">保存修改</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input type="button" value="下架商品" class="mr-20 delete"/>
                            </div>
                        </form>
                    </td>

                    <td>
                        <form action="#" method="post">
                            <img class="sold-pro-img mt-20 mr-20" src="#" alt="商品1"/><br/>
                            <span class="mt-5">库存数量：</span><input type="text" class="border-3 mr-20 mt-5"/><br/>
                            <div class="mt-5">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                    修改价格
                                </button>

                                <!-- Modal -->
                                <div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                                    <div class="modal-dialog modal-sm" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">修改商品价格</h4>
                                            </div>
                                            <div class="modal-body">
                                                <input type="text" value="$"/>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                <button type="submit" class="btn btn-primary">保存修改</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input type="button" value="下架商品" class="mr-20 delete"/>
                            </div>
                        </form>
                    </td>
                </tr>

                <tr>
                    <td>
                        <form action="#" method="post" >
                            <img class="sold-pro-img mt-20 mr-20" src="#" alt="商品1"/><br/>
                            <span class="mt-5">库存数量：</span><input type="text" class="border-3 mr-20 mt-5"/><br/>
                            <div class="mt-5">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                    修改价格
                                </button>

                                <!-- Modal -->
                                <div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                                    <div class="modal-dialog modal-sm" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">修改商品价格</h4>
                                            </div>
                                            <div class="modal-body">
                                                <input type="text" value="$"/>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                <button type="submit" class="btn btn-primary">保存修改</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input type="button" value="下架商品" class="mr-20 delete"/>
                            </div>
                        </form>
                    </td>

                    <td>
                        <form action="#" method="post">
                            <img class="sold-pro-img mt-20 mr-20" src="#" alt="商品1"/><br/>
                            <span class="mt-5">库存数量：</span><input type="text" class="border-3 mr-20 mt-5"/><br/>
                            <div class="mt-5">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                    修改价格
                                </button>

                                <!-- Modal -->
                                <div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                                    <div class="modal-dialog modal-sm" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">修改商品价格</h4>
                                            </div>
                                            <div class="modal-body">
                                                <input type="text" value="$"/>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                <button type="submit" class="btn btn-primary">保存修改</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input type="button" value="下架商品" class="mr-20 delete"/>
                            </div>
                        </form>
                    </td>

                    <td>
                        <form action="#" method="post">
                            <img class="sold-pro-img mt-20 mr-20" src="#" alt="商品1"/><br/>
                            <span class="mt-5">库存数量：</span><input type="text" class="border-3 mr-20 mt-5"/><br/>
                            <div class="mt-5">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                    修改价格
                                </button>

                                <!-- Modal -->
                                <div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                                    <div class="modal-dialog modal-sm" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">修改商品价格</h4>
                                            </div>
                                            <div class="modal-body">
                                                <input type="text" value="$"/>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                <button type="submit" class="btn btn-primary">保存修改</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input type="button" value="下架商品" class="mr-20 delete"/>
                            </div>
                        </form>
                    </td>

                    <td>
                        <form action="#" method="post">
                            <img class="sold-pro-img mt-20 mr-20" src="#" alt="商品1"/><br/>
                            <span class="mt-5">库存数量：</span><input type="text" class="border-3 mr-20 mt-5"/><br/>
                            <div class="mt-5">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                    修改价格
                                </button>

                                <!-- Modal -->
                                <div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                                    <div class="modal-dialog modal-sm" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">修改商品价格</h4>
                                            </div>
                                            <div class="modal-body">
                                                <input type="text" value="$"/>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                <button type="submit" class="btn btn-primary">保存修改</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input type="button" value="下架商品" class="mr-20 delete"/>
                            </div>
                        </form>
                    </td>
                </tr>
            </table>
        </div>

        <div class="row clearfix">
            <div class="col-xs-12 column text-center">
                <ul class="pagination">
                    <li>
                        <a rel="nofollow" href="#">上一页</a>
                    </li>
                    <li>
                        <a rel="nofollow" href="#">1</a>
                    </li>
                    <li>
                        <a rel="nofollow" href="#">2</a>
                    </li>
                    <li>
                        <a rel="nofollow" href="#">3</a>
                    </li>
                    <li>
                        <a rel="nofollow" href="#">4</a>
                    </li>
                    <li>
                        <a rel="nofollow" href="#">5</a>
                    </li>
                    <li>
                        <a rel="nofollow" href="#">下一页</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xs-1"></div>
</div>


<!--This is the common footer Begin-->
<bottom data-th-replace="seller/sellercommon/bottom"></bottom>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../js/common/jquery-3.1.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../bootstrap/dist/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function(){
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').focus()
        })
    });
</script>

</body>
</html>