<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/html">
<head data-th-replace="seller/sellercommon/sellerhead"></head>
<body>
<!-- this is the common top begin -->
<top data-th-replace="seller/sellercommon/top"></top>

<!-- this is the common top end -->


<div class="container-fluid row">
    <lfet data-th-replace="seller/sellercommon/left"></lfet>
    <div class="col-md-6 row border-one border-radius mt-40 ml-30">
        <div class="mt-20">
            <a href="#">卖家中心</a>
            <span>&gt;</span>
            <a href="#">商品管理</a>
            <span>&gt;</span>
            <span>管理库存</span>
            <hr/>
        </div>
        <div class="mt-20 ml-80">
            <img class="sold-pro-img mt-20 mr-20" src="#" alt="商品1"/>
            <img class="sold-pro-img mt-20 mr-20" src="#" alt="商品1"/>
            <img class="sold-pro-img mt-20 mr-20" src="#" alt="商品1"/>
            <img class="sold-pro-img mt-20 mr-20" src="#" alt="商品1"/>
        </div>
        <div class="mt-5 ml-80">
            <span>库存数量：</span><input type="text" class="border-3 mr-20"/>
            <span>库存数量：</span><input type="text" class="border-3 mr-20"/>
            <span>库存数量：</span><input type="text" class="border-3 mr-20"/>
            <span>库存数量：</span><input type="text" class="border-3 mr-20"/>
        </div>
        <div class="mt-5 ml-80">
            <input type="button" value="修改价格" class="mr-15"/><input type="button" value="下架商品" class="mr-20"/>
            <input type="button" value="修改价格" class="mr-15"/><input type="button" value="下架商品" class="mr-20"/>
            <input type="button" value="修改价格" class="mr-15"/><input type="button" value="下架商品" class="mr-20"/>
            <input type="button" value="修改价格" class="mr-15"/><input type="button" value="下架商品" class="mr-20"/>
        </div>
        <div class="mt-20 ml-80">
            <img class="sold-pro-img mt-20 mr-20" src="#" alt="商品1"/>
            <img class="sold-pro-img mt-20 mr-20" src="#" alt="商品1"/>
            <img class="sold-pro-img mt-20 mr-20" src="#" alt="商品1"/>
            <img class="sold-pro-img mt-20 mr-20" src="#" alt="商品1"/>
        </div>
        <div class="mt-5 ml-80">
            <span>库存数量：</span><input type="text" class="border-3 mr-20"/>
            <span>库存数量：</span><input type="text" class="border-3 mr-20"/>
            <span>库存数量：</span><input type="text" class="border-3 mr-20"/>
            <span>库存数量：</span><input type="text" class="border-3 mr-20"/>
        </div>
        <div class="mt-5 ml-80">
            <input type="button" value="修改价格" class="mr-15"/><input type="button" value="下架商品" class="mr-20"/>
            <input type="button" value="修改价格" class="mr-15"/><input type="button" value="下架商品" class="mr-20"/>
            <input type="button" value="修改价格" class="mr-15"/><input type="button" value="下架商品" class="mr-20"/>
            <input type="button" value="修改价格" class="mr-15"/><input type="button" value="下架商品" class="mr-20"/>
        </div>
        <div class="mt-20 ml-80">
            <img class="sold-pro-img mt-20 mr-20" src="#" alt="商品1"/>
            <img class="sold-pro-img mt-20 mr-20" src="#" alt="商品1"/>
            <img class="sold-pro-img mt-20 mr-20" src="#" alt="商品1"/>
            <img class="sold-pro-img mt-20 mr-20" src="#" alt="商品1"/>
        </div>
        <div class="mt-5 ml-80">
            <span>库存数量：</span><input type="text" class="border-3 mr-20"/>
            <span>库存数量：</span><input type="text" class="border-3 mr-20"/>
            <span>库存数量：</span><input type="text" class="border-3 mr-20"/>
            <span>库存数量：</span><input type="text" class="border-3 mr-20"/>
        </div>
        <div class="mt-5 ml-80">
            <input type="button" value="修改价格" class="mr-15"/><input type="button" value="下架商品" class="mr-20"/>
            <input type="button" value="修改价格" class="mr-15"/><input type="button" value="下架商品" class="mr-20"/>
            <input type="button" value="修改价格" class="mr-15"/><input type="button" value="下架商品" class="mr-20"/>
            <input type="button" value="修改价格" class="mr-15"/><input type="button" value="下架商品" class="mr-20"/>
        </div>
        <div class="mt-20 ml-80">
            <img class="sold-pro-img mt-20 mr-20" src="#" alt="商品1"/>
            <img class="sold-pro-img mt-20 mr-20" src="#" alt="商品1"/>
            <img class="sold-pro-img mt-20 mr-20" src="#" alt="商品1"/>
            <img class="sold-pro-img mt-20 mr-20" src="#" alt="商品1"/>
        </div>
        <div class="mt-5 ml-80">
            <span>库存数量：</span><input type="text" class="border-3 mr-20"/>
            <span>库存数量：</span><input type="text" class="border-3 mr-20"/>
            <span>库存数量：</span><input type="text" class="border-3 mr-20"/>
            <span>库存数量：</span><input type="text" class="border-3 mr-20"/>
        </div>
        <div class="mt-5 ml-80">
            <input type="button" value="修改价格" class="mr-15"/><input type="button" value="下架商品" class="mr-20"/>
            <input type="button" value="修改价格" class="mr-15"/><input type="button" value="下架商品" class="mr-20"/>
            <input type="button" value="修改价格" class="mr-15"/><input type="button" value="下架商品" class="mr-20"/>
            <input type="button" value="修改价格" class="mr-15"/><input type="button" value="下架商品" class="mr-20"/>
        </div>


    </div>
    <div class="col-md-1"></div>
</div>


<!--This is the common footer Begin-->
<bottom data-th-replace="seller/sellercommon/bottom"></bottom>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../js/common/jquery-3.1.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../bootstrap/dist/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function(){
        $(".shop_login").click(function(){
            $(".form_fade").fadeIn();

        });
        $(".fadeout").click(function(){
            $(".form_fade").fadeOut();

        });
    });
</script>

</body>
</html>