<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/html">
<head data-th-replace="seller/sellercommon/sellerhead"></head>
<body>
<!-- this is the common top begin -->
<top data-th-replace="seller/sellercommon/top"></top>
<!-- this is the common top end -->


<div class="container-fluid">
    <lfet data-th-replace="seller/sellercommon/left"></lfet>
    <div class="col-xs-6 row border-one border-radius mt-40 ml-30">
        <div class="mt-20">
            <a href="#">卖家中心</a>
            <span>&gt;</span>
            <a href="#">交易管理</a>
            <hr/>
        </div>

        <!--this is the order manage begin-->
        <div>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">全部订单</a></li>
                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">已签收订单</a></li>
                <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">未签收订单</a></li>
                <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">待发货订单</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="home">
                        <table class="table">
                            <tr class="active text-center">
                                <td>商品</td>
                                <td>单价</td>
                                <td>数量</td>
                                <td>订单状态</td>
                                <td>买家</td>
                                <td>实收款</td>
                            </tr>
                        </table>
                        <div>
                            <table class="table">
                                <tr class="text-center">
                                    <td style="width: 111px"><img src="#" alt="商品图片"/></td>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>3</td>
                                    <td>4</td>
                                    <td>5</td>
                                </tr>
                                <tr class="text-center">
                                    <td style="width: 111px"><img src="#" alt="商品图片"/></td>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>3</td>
                                    <td>4</td>
                                    <td>5</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="profile">
                        <table class="table">
                            <tr class="active text-center">
                                <td>商品</td>
                                <td>单价</td>
                                <td>数量</td>
                                <td>买家</td>
                                <td>实收款</td>
                            </tr>
                        </table>
                        <div>
                            <table class="table">
                                <tr class="text-center">
                                    <td style="width: 111px"><img src="#" alt="商品图片"/></td>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>3</td>
                                    <td>4</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="messages">
                        <table class="table">
                            <tr class="active text-center">
                                <td>商品</td>
                                <td>单价</td>
                                <td>数量</td>
                                <td>买家</td>
                                <td>实收款</td>
                            </tr>
                        </table>
                        <div>
                            <table class="table">
                                <tr class="text-center">
                                    <td style="width: 111px"><img src="#" alt="商品图片"/></td>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>3</td>
                                    <td>4</td>
                                    <td>5</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="settings">
                        <table class="table">
                            <tr class="text-center">
                                <td style="width: 111px"><img src="#" alt="商品图片"/></td>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                            </tr>
                        </table>
                    </div>
            </div>

            <div class="row clearfix">
                <div class="col-xs-12 column text-center">
                    <ul class="pagination">
                        <li>
                            <a rel="nofollow" href="#">上一页</a>
                        </li>
                        <li>
                            <a rel="nofollow" href="#">1</a>
                        </li>
                        <li>
                            <a rel="nofollow" href="#">2</a>
                        </li>
                        <li>
                            <a rel="nofollow" href="#">3</a>
                        </li>
                        <li>
                            <a rel="nofollow" href="#">4</a>
                        </li>
                        <li>
                            <a rel="nofollow" href="#">5</a>
                        </li>
                        <li>
                            <a rel="nofollow" href="#">下一页</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!--this is the order manage end-->

    </div>
    <div class="col-xs-1"></div>
</div>


<!--This is the common footer Begin-->
<bottom data-th-replace="seller/sellercommon/bottom"></bottom>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../js/common/jquery-3.1.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../bootstrap/dist/js/bootstrap.min.js"></script>


</body>
</html>
