<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="admin/common/head"></head>
<body>
<!-- Navigation -->
<th:block th:if="${session.userBase.role} eq 'superAdmin'">
    <nav data-th-replace="admin/common/super_admin_navigation"></nav>
</th:block>
<th:block th:if="${session.userBase.role} eq 'schoolAdmin'">
    <nav data-th-replace="admin/common/school_admin_navigation"></nav>
</th:block>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">校区添加</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!--
    <div class="row">
        <div class="col-lg-12">
            <a href="/superadmin/campusmanage">校区管理</a>&raquo;<a href="#">校区添加</a>
        </div>
    </div>
    -->
    <div class="row">
        <div class="col-lg-12">
            <!--Form begin -->
            <form role="form">
                <div class="form-group has-success">
                    <label class="control-label" for="inputSuccess">校区名称</label>
                    <input type="text" class="form-control" id="inputSuccess"/>
                </div>
                <button class="btn btn-success">增加</button>
            </form>
            <!--Form end   -->
            <hr/>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->

<!-- Scripts -->
<th:block data-th-replace="admin/common/scripts"></th:block>
</body>
</html>