/* For Common begin */
.font-small{
    font-size:12px;
}

.font-middle{
    font-size:20px;
}

.font-big{
    font-size:30px;
}

.font-white{
    color:white;
}

.float-right{
    float:right;
}

.font-bold{
    font-weight: bold;
}

.font-red{
    color:red;
}

.font-grey{
    color:grey;
}

.border-one{
    border:1px solid #eeeeee;
}

.line-one{
    margin-top:10px;
    height:100px;
}

.line-two{
    margin-top:10px;
    height:200px;
}

.line-three{
    margin-top:10px;
    height:300px;
}

.mt-10{
    margin-top:10px;
}

.mt-5{
    margin-top:5px;
}

.mb-5{
    margin-bottom:5px;
}
.mb-200{
    margin-bottom: 200px;
}
.mb-10{
    margin-bottom:10px;
}
.mt-60{
    margin-top: 60px;
}
.mt-20{
    margin-top:20px;
}
.mt-150{
    margin-top: 150px;
}
.mr-5{
    margin-right: 5px;;
}
.mr-20{
    margin-right: 20px;
}
.mr-88{
    margin-right: 88px;
}
.mr-25{
    margin-right:25px;
}
.mr-55{
    margin-right:55px;
}
.mr-15{
    margin-right: 15px;
}
.mr-10{
    margin-right: 10px;
}
.ml-5{
    margin-left: 5px;
}
.ml-30{
    margin-left: 30px;
}
.ml-40{
    margin-left: 40px;
}
.ml-80{
    margin-left: 80px;
}
.mt-40{
    margin-top: 30px;
}
.mt-120{
    margin-top: 120px;
}

.mt-60{
    margin-top: 60px;
}
.mt-25{
    margin-top: 25px;
}




/*
.txt-center{
    text-align: center;
}
*/
/*For Common end*/

/*Website top begin*/

.top{
    line-height:30px;
    height:30px;
    background-color:#efefef;
}

.top a:hover{
    text-decoration: none;
}

.top a{

}

.banner{
    background: #DDF0ED;
    height: 100px;
    line-height:100px;
}

.logo{
    font-size:60px;
}

.banner a{
    margin-right:60px;
}

.banner a:hover{
    text-decoration: none;
}

.banner .active{
    border-bottom: 23px solid #f0be48;
    border-radius: 14px;
    border-top: 23px solid #f0be48;
}

.banner .search{
    width:300px;
}

.footer-info{
    height:270px;
    background-color: #DDF0ED;
}
.qr-code {
    height: 100px;
    width: 100px;
    background-size: cover ;
}
.logo_wh{
    width:100px;
    height:70px;
}
/* Website Top end*/

