.shop_bk{
    background-color: #bfe1f0;
}
.shop_discount{
    width: 250px;
    height: 200px;
}
.shop_top_back{
    background-image: url("../img/3d_background.jpg");
    height: 331px;
    -webkit-border-radius: 500px;
    opacity:0.5;
}

.shop_Carouse{
    height: 350px;
}
.shop_list{
    height: 250px;
}
.item .i_img{
    height: 230px;
}