.shop_bk{
    background-color: #bfe1f0;
}
.shop_discount{
    width: 250px;
    height: 200px;
}
.item .i_img{
    height: 230px;
}
.homepage_search{
    height: 32px;
    width: 300px;
    border-radius: 6px;
}
.shop_bki{
    background-image: url("../img/bki.jpg");
    background-repeat:no-repeat;
    background-attachment:fixed;
}
.graph1-size{
    width: 650px;
    padding: 20px;
}
.graph2-size{
    height: 439px;
    padding: 20px 20px 20px 0px;
}
.graph3-size{
    height: 450px;
    width: 350px;
    padding: 20px;
}
.graph4-size{
    height: 450px;
    width: 350px;
    padding: 20px;
}
.graph5-size{
    height: 450px;
    width: 350px;
    padding: 20px;
}
.mt-40{
    margin-top: 40px;
}
.cla_font1{
     position: absolute;z-index:2;left: 300px;top: 300px;
}
.cla_font2{
    position: absolute;z-index:2;left: 130px;top: 260px;
}
.cla_font3{
    position: absolute;z-index:2;left: 130px;top: 260px;
}
.cla_font4{
    position: absolute;z-index:2;left: 130px;top: 260px;
}
.cla_font5{
    position: absolute;z-index:2;left: 130px;top: 260px;
}

