<!-- jQuery -->
<script src="/admin/vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/admin/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="/admin/vendor/metisMenu/metisMenu.min.js"></script>

<!-- Flot Charts JavaScript -->
<script src="/admin/vendor/flot/excanvas.min.js"></script>
<script src="/admin/vendor/flot/jquery.flot.js"></script>
<script src="/admin/vendor/flot/jquery.flot.pie.js"></script>
<script src="/admin/vendor/flot/jquery.flot.resize.js"></script>
<script src="/admin/vendor/flot/jquery.flot.time.js"></script>
<script src="/admin/vendor/flot-tooltip/jquery.flot.tooltip.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/admin/dist/js/sb-admin-2.js"></script>

<!-- Other Javascript -->
<script src="/sco/js/sco.modal.js"></script>
<script src="/sco/js/sco.confirm.js"></script>
<script src="/bootstrap/dist/js/bootstrapValidator.js"></script>
