<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>电子商务首页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
现在开始做网页5
<form action="/login" method="post">
    name<input type="text" name="name"/><br/>
    email<input type="text" name="email"/>
    sex<input type="text" name="sex"/>
    address<input type="text" name="address"/>
    mobile<input type="text" name="mobile"/>
    studentsnumber:<input type="text" name="studentNumber"/>
    <input type="reset"/>
    <input type="submit"/>
</form>
<script type="text/javascript" src="/js/test.js"></script>
</body>
</html>