<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- Any Other things should follow these 3 meta above -->
    <title>达米首页</title>
    <!-- Bootstrap -->
    <link href="/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
    <link href="/css/common.css" rel="stylesheet"/>
    <link href="/css/index.css" rel="stylesheet"/>
    <link href="/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet"/>
    <link href="/css/pop-up.css" rel="stylesheet" media="all"/>
    <!-- Custom styles -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/js/common/jquery-3.1.1.min.js"></script>
    <script src="/js/login.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/js/common/html5shiv.min.js"></script>
    <script src="/js/common/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- this is the common top begin -->
<div class="container-fluid">
    <div data-th-replace="common_html/common_head"></div>
    <div class="row banner">
        <div class="col-xs-2 col-xs-2"></div>
        <div class="col-xs-8 col-xs-8">
            <div class="row">

                <div class="col-xs-3 logo"><img src="/img/cute_logo.jpg" class="logo_wh"/></div>
                <div class="col-xs-5 font-bold">
                    <a class="mr-15" href="index.html">首页</a>
                    <a class="mr-15" href="#">二手</a>
                    <a class="mr-15" href="#">促销</a>
                    <a class="mr-15" href="#">秒杀</a>

                </div>
                <div class="col-xs-4">
                    <form class="form-inline" th:action="@{/product/searchGood}">
                        <div class="form-group">

                            <input type="text" class="form-control search" name="search" id="search" placeholder="请输入商品名\关键词\店铺名\社团名"/>
                        </div>
                        <button type="submit"  class="search-btn">搜索</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- this is the common top end -->
<div class="container">
    <div class="row line-three">
        <div class="col-xs-3 col-xs-3 category">
            <ul class="list-unstyled">
                <li><a href="#">产品大类A</a><span><a href="#">产品小类</a><a href="#">产品小类</a></span></li>
                <li><a href="#">产品大类B</a><span><a href="#">产品小类</a><a href="#">产品小类</a></span></li>
                <li><a href="#">产品大类C</a><span><a href="#">产品小类</a><a href="#">产品小类</a></span></li>
                <li><a href="#">产品大类D</a><span><a href="#">产品小类</a><a href="#">产品小类</a></span></li>
                <li><a href="#">产品大类E</a><span><a href="#">产品小类</a><a href="#">产品小类</a></span></li>
            </ul>
        </div>
        <div class="col-xs-6 col-xs-6">
            <div class="carousel slide" id="carousel-1">
                <ol class="carousel-indicators">
                    <li class="active" data-slide-to="0" data-target="#carousel-1">
                    </li>
                    <li data-slide-to="1" data-target="#carousel-1">
                    </li>
                    <li data-slide-to="2" data-target="#carousel-1">
                    </li>
                </ol>
                <div class="carousel-inner">
                    <th:block th:each="one,iterStatus:${top}">
                    <th:block th:if="${iterStatus.count} eq 1">
                    <div class="item active">
                        <img alt="" th:src="@{'/picture/'+${one.pictureId}}" src="http://images.huanqiu.com/sarons/2013/11/6e4fe63f9b455d1dfc94569ada25d790.jpg" />
                        <div class="carousel-caption">
                            <h4 th:text="${one.title}">
                                焦点图二
                            </h4>
                            <p th:text="${one.description}">
                                焦点图二的描述,焦点图二的描述,焦点图二的描述,焦点图二的描述,焦点图二的描述,焦点图二的描述,
                            </p>
                        </div>
                    </div>
                    </th:block>
                    <th:block th:if="${iterStatus.count} neq 1">
                        <div class="item">
                            <img alt="" th:src="@{'/picture/'+${one.pictureId}}" src="http://images.huanqiu.com/sarons/2013/11/6e4fe63f9b455d1dfc94569ada25d790.jpg" />
                            <div class="carousel-caption">
                                <h4 th:text="${one.title}">
                                    焦点图二
                                </h4>
                                <p th:text="${one.description}">
                                    焦点图二的描述,焦点图二的描述,焦点图二的描述,焦点图二的描述,焦点图二的描述,焦点图二的描述,
                                </p>
                            </div>
                        </div>
                    </th:block>
                    </th:block>
                </div> <a rel="nofollow" class="left carousel-control" href="#carousel-1" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a rel="nofollow" class="right carousel-control" href="#carousel-1" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <div class="col-xs-3 col-xs-3">
            <div class="status show text-center">
                <br/>
                <button type="button" class="btn btn-primary">买家登录</button>
                <button type="button" class="btn btn-primary">卖家登录</button><br/><br/>
                <button type="button" class="btn btn-success">成为买家</button>
                <button type="button" class="btn btn-success">成为卖家</button><br/><br/>

                <img class="qr-code" src="/img/qr_code.png" alt="我是二维码"/>
            </div>
            <div class="status">
                <a href="buyer/buyer_register.html">注册买家</a>
            </div>
            <div class="status">
                <a href="buyer/buyer_register.html">注册买家</a>
            </div>
        </div>
    </div>



    <div class="row mt-10 border-one index-products font-small text-center">
        <div class="row"><div class="col-xs-1"><h5 class="font-bold">新品图片</h5></div></div>
        <div class="col-xs-12">
        <div class="col-xs-2 mb-5"><a href="#"><img alt="新品图片" src="#"/></a><div class="mt-5"><a href="#">出exo玩偶衣服 懵倩倩白狗</a></div></div>
        <div class="col-xs-2 mb-5"><a href="#"><img alt="新品图片" src="#"/></a><div class="mt-5"><a href="#">出exo玩偶衣服 懵倩倩白狗</a></div></div>
        <div class="col-xs-2 mb-5"><a href="#"><img alt="新品图片" src="#"/></a><div class="mt-5"><a href="#">出exo玩偶衣服 懵倩倩白狗</a></div></div>
        <div class="col-xs-2 mb-5"><a href="#"><img alt="新品图片" src="#"/></a><div class="mt-5"><a href="#">出exo玩偶衣服 懵倩倩白狗</a></div></div>
        <div class="col-xs-2 mb-5"><a href="#"><img alt="新品图片" src="#"/></a><div class="mt-5"><a href="#">出exo玩偶衣服 懵倩倩白狗</a></div></div>
        <div class="col-xs-2 mb-5"><a href="#"><img alt="新品图片" src="#"/></a><div class="mt-5"><a href="#">出exo玩偶衣服 懵倩倩白狗</a></div></div>
        </div>
    </div>

    <div class="row mt-10 border-one index-products font-small text-center">
        <div class="row"><div class="col-xs-1"><h5 class="font-bold">促销商品</h5></div></div>
        <div class="col-xs-2 mb-5"><img alt="促销图片" src="#"/><div class="mt-5"><a href="#">出exo玩偶衣服 懵倩倩白狗</a><br/><span class="font-red"><s class="font-grey">原价：200</s> 现价：100</span></div></div>
        <div class="col-xs-2 mb-5"><img alt="促销图片" src="#"/><div class="mt-5"><a href="#">出exo玩偶衣服 懵倩倩白狗</a><br/><span class="font-red"><s class="font-grey">原价：200</s> 现价：100</span></div></div>
        <div class="col-xs-2 mb-5"><img alt="促销图片" src="#"/><div class="mt-5"><a href="#">出exo玩偶衣服 懵倩倩白狗</a><br/><span class="font-red"><s class="font-grey">原价：200</s> 现价：100</span></div></div>
        <div class="col-xs-2 mb-5"><img alt="促销图片" src="#"/><div class="mt-5"><a href="#">出exo玩偶衣服 懵倩倩白狗</a><br/><span class="font-red"><s class="font-grey">原价：200</s> 现价：100</span></div></div>
        <div class="col-xs-2 mb-5"><img alt="促销图片" src="#"/><div class="mt-5"><a href="#">出exo玩偶衣服 懵倩倩白狗</a><br/><span class="font-red"><s class="font-grey">原价：200</s> 现价：100</span></div></div>
        <div class="col-xs-2 mb-5"><img alt="促销图片" src="#"/><div class="mt-5"><a href="#">出exo玩偶衣服 懵倩倩白狗</a><br/><span class="font-red"><s class="font-grey">原价：200</s> 现价：100</span></div></div>
    </div>
<!-- 3d轮播效果图 Beginning -->
    <div class="row mt-20">
        <div class="col-xs-12 products-show">
            <div class="col-xs-2"></div>
            <div class="col-xs-8">
                <div class="picture_3d">
                    <ul id="detail_3d" class="detail_3d">
                        <li><a href="product/product_details.html" class="target"></a></li>
                        <li><a href="product/product_details.html" class="target"></a></li>
                        <li><a href="product/product_details.html" class="target"></a></li>
                        <li><a href="product/product_details.html" class="target"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-2"></div>
        </div>
    </div>
<!-- 3d轮播效果图 Ending -->

</div>

<!--This is the common footer Begin-->
<div class="container-fluid mt-20">
    <div class="row">
        <div class="col-xs-12 footer-info">
            <div class="col-xs-2 col-xs-offset-3 mt-40 "><img src="/img/logo_button_1.jpg"/></div>
            <div class="col-xs-3 mt-40 "><img src="/img/logo_button_2.jpg " /><br/><span class="font-grey" >一家专门做校园文化产品的网站</span></div>
            <div class="col-xs-4 mt-60"><img class="qr-code"  src="/img/qr_code.png "/><br/><div class="mt-20 ">扫码有惊喜哦</div></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-20 font-small">
        <div class="col-xs-2 col-xs-2"></div>
        <div class="col-xs-8 col-xs-8">
            <div id="footer">
                <div class="footerNav text-center">
                    <a href="#">关于我们</a> |
                    <a href="#">服务条款</a> |
                    <a href="#">免责声明</a> |
                    <a href="#">网站地图</a> |
                    <a href="#">联系我们</a>
                </div>
                <div class="copyRight text-center">
                    Copyright DaMi
                </div>
            </div>
        </div>
        <div class="col-xs-2"></div>
    </div>
</div>


<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
<!--This is the common footer End-->