<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HelloWorld</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
a
<span th:text="${mytext}"></span>
<form th:object="${product}" th:action="@{/login}" method="post">
    <label for="productName">User Name: </label>
    <input type="text" th:field="*{productName}"/>
    <br/>
    <label for="productDescription">Description: </label>
    <!--注意这里的th:field="*{userDescription}"-->
    <input type="text" th:field="*{productDescription}"/>
    <br/>
    <input type="reset"/>
    <input type="submit"/>
</form>
</body>
</html>