<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HelloWorld</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" src="/js/test.js"></script>
</head>
<body>
hello world
<form action="/addCart" method="post">
    <input name="productName" type="text"/><br/>
    <input name="productNumber" type="text"/><br/>
    <input name="productPrice" type="text"/><br/>
    <input type="submit" name="x"/>
</form>
</body>
</html>