.ul_area{
    background: whitesmoke;
}

.product_list_area{
    margin-top:10px;
    width:1100px;
    height:130px;
}
.community_area{
    width: 350px;
}
.product_img{
    width: 120px;
    height: 120px;
}
.price-text{
    height:30px; width: 45px;font-size: 15px;text-align: center;border-radius: 0.3em;
}

.border-black{
    border: 1px solid #c8c8c8;
}
.bk-grey{
    background-color: #f3f3f3;border-color: #999999;
}
.font-md{
   font-size: medium;
}
.font-17{
    font-size: 17px;
}