.form-control{
    border-radius: 0.4em;
}
.reg_logo{
    font-family: 楷体;
    font-size: 40px;
    font-weight: bold;
    color:whitesmoke;
}
.row .mt-20 .background{
    background-color: #66afe9;
}
.form-group input{
    width: 350px;
}
.back_img{
    background-image: url("../img/regiser_back.jpg");
}
.form-group button{
    width: 160px;
    font-weight: bold;
    color: #4cae4c;
}
.form-border{
    opacity: 1;
    width: 380px;
    border-radius: 0.4em;
}