/*初始化*/
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}
body  {
    background:#FFF;
}
fieldset, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none;
}
/*去掉原样式中的小黑点*/
input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}

select, input {
    vertical-align: middle;
}

/*输入字居中显示*/
select, input, textarea {
    font-size: 12px;
    margin: 0;
}

/**/
textarea {
    resize: none;
}
.search{

}
.zhong{
    width: 334px;
    height: 36px;
    float: left;
    font-size: 14px;
    color: #999999;
    font-weight: bold;
    padding-left: 10px;
    margin-top: 46px;
    border-bottom-left-radius:2px;
    border-top-left-radius: 2px;
}

/*防止拖动*/
img {
    border: 0;
    vertical-align: middle; /*  去掉图片底部默认的3像素空白缝隙*/
}

table {
    border-collapse: collapse; /*合并外连线*/
}

body {
    font: 14px/150% "微软雅黑"; /*unitedCode的写法，宋体的写法*/
    color: #666; /*150%基于当前字体尺寸的百分比行间距*/
    background: #fff;
}

.clearfix:before, .clearfix:after {
    /*清除浮动，最好最标准的写法*/
    content: "";
    display: table;
    /*bfc  块级格式化上下文*/
    /* display: inline-block talbe-cel */
    /*display: table-cell;*/
}

/*.clearfix:after {*/
/*content: "";*/
/*height: 0;*/
/*line-height: 0;*/
/*display: block;*/
/*visibility: hidden;*/
/*clear: both;*/
/*}*/

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/  /*兼容IE6下的写法*/
}


a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #666;
}

a:hover {
    color: #C81623;
}

s, i, em {
    font-style: normal;
    text-decoration: none;
}

/*公共类*/
.w {
    /*版心 提取 */
    width: 1230px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}
/*初始化完成*/

/*顶部部分*/
.header{
    width: 100%;
    height: 46px;
    background: #141414;
    position: fixed;
    opacity: 0.9;
    top:0;
    left:0;
    z-index: 99999;
}
.logo{
    width: 115px;
    height: 46px;
    float: left;
    margin-left: 345px;
    position: relative;

    /*background: url("../image/cuilogo1.jpg") no-repeat  center;*/
}
.logo .logoImg{
    position: absolute;
    top: 0;
    left: -50px;
    width: 40px;
    border-radius: 50px;
}
.logo img{
    width: 113px;
    height: 37px;
    margin-top: 4px;
    vertical-align: middle;
}
.nav{
    width: 503px;
    height: 46px;
    float: right;
    margin-right: 340px;
}
.nav li {
    float: left;
    padding-right: 35px;
}
.nav li a{
    display: block;
    font-size: 18px;
    line-height:46px;
    color: white;
}
/*顶部结束*/

/*广告部分*/
/*.banner {*/
    /*position: relative;*/
    /*height: 100%;*/
    /*width: 100%;*/
/*}*/
/*.banner ul li img{*/
    /*width: 100%;*/

/*}*/

/*.banner span {*/
    /*display: block;*/
    /*width: 20px;*/
    /*height: 20px;*/
    /*background: rgba(255,255,255,0.3);*/
    /*border-radius: 50%;*/
    /*text-align: center;*/
    /*line-height: 20px;*/
    /*float: left;*/
    /*margin-right: 10px;*/
    /*cursor: pointer;*/
    /*position: absolute;*/
    /*left:50%;*/
    /*bottom: 10px;*/
    /*color: #ffffff;*/
/*}*/
/*.banner span:hover{*/
    /*background: rgba(255,255,255,0.6);*/
/*}*/

/*.banner .sp1 {*/
    /*margin-left: -40px;*/
/*}*/
/*.banner .sp3 {*/
    /*margin-left: 40px;*/
/*}*/
/*广告部分结束*/

/*3d效果*/
.niur{
    background-size: 1930px  700px;
    width: 1230px;
    padding: 0 25% 0 25%;
    height: 684px;
    /*width: 100%;*/
}
ul.niuRouMian{
    /*display: none;*/
    list-style: none;
    /*margin: 0 auto;*/
    width: 50%;
    height:500px;
    transition: all 6s;
    position: relative;
    transform-style: preserve-3D;
    top: 0;
    left: 0px;
    z-index: 100;
}
.niuRouMian li{
    margin:5% auto;
    width: 800px;
    height: 500px;
    color: white;
    /*line-height: 200px;*/
    text-align: center;
    font-size: 40px;
    /*background-color: #0099cc;*/
    position: absolute;
}

ul.niuRouMian li:nth-child(1){
    transform: rotateX(0deg) translateZ(400px);
    background:url("../image/maobi.jpg") no-repeat center center;
}
ul.niuRouMian li:nth-child(2) {
    transform: rotateY(-90deg)  translateZ(400px);
    /*background:url("../image/1212.jpg") no-repeat center center;*/
}
ul.niuRouMian li:nth-child(3) {
    transform: rotateX(-180deg)  translateZ(400px);
    background:url("../image/shuangjiegun.jpg") no-repeat center center;
}ul.niuRouMian li:nth-child(4) {
     transform: rotateX(-270deg)  translateZ(400px);
     background:url("../image/weiqi.jpg") no-repeat center center;
 }ul.niuRouMian li:nth-child(5) {
      transform: rotateY(-90deg)  translateZ(400px);
      background:url("../image/lunhua.jpg") no-repeat center center;
  }
ul.niuRouMian li:nth-child(6) {
    transform: rotateY(90deg)  translateZ(400px);
    background:url("../image/guitar.jpg") no-repeat center center;
}
ul.niuRouMian:hover{
    /*transform: rotateX(360deg) rotateY(360deg);*/
    transform:  rotateY(360deg);
}


/*二级轮播*/
.shou-scroll{
    width: 100%;
    height: 600px;
    margin-top: 15px;

}
.ss-box,.ss-Minbox{
    width: 1070px;
    margin: 6% auto;
    height: 584px;
    overflow: hidden;

    position: relative;


}
/*.ss-box{*/
    /*overflow: visible;*/
/*}*/
.ss-Minbox{
    overflow: visible;
    position: relative;
}
.ss-box ul{
    width: 3000px;
    position: absolute;
    height: 100%;
}
.ss-box ul li{
    width: 357px;
    text-align: center;
    float: left;
    height: 100%;

}
.ss-box ul li a{
    display: inline-block;


    }
.shodw{
    margin: 10px 38px;
    height: 100%;
    height: 540px;
}
.shodw:hover{
    box-shadow:0 0 10px #ccc;
}
.ss-box ul li a img{
    border: 1px solid #cccccc;
    width: 100%;
    height: 100%;
}
.ss-box h4{
    margin: 30px;

}
/*左右按键*/
.shou-arrowLeft,.shou-arrowRight{
    position: absolute;
    top: 140px;
    left: -75px;
    width: 75px;
    height: 140px;
    z-index: 100;
    background: url("../image/zjt.png");
}
span.shou-arrowRight{

    left:1070px;
    background: url("../image/yjt.png");
}
/*二级结束*/
/*读文*/
.duwen{
    width: 100%;
    background-color: #f0f0f0;
    padding: 30px 0px;
}
.duwen-box{
    width: 1070px;
    padding: 0px 15px ;
    margin: 0 auto;
}
.duwenTop{
    text-align: center;
}
.duwenTop p{
    font-size: 20px;
    margin: 20px;
}
.duwenTop span{
    display: block;
    margin: 10px auto 30px;
    height: 3px;
    width: 25px;
    background-color: #A90000;
}
.duwenBottom{
    width: 100%;
    height: 464px;

}

.duwenBottom .dwbLeft{
    width: 500px;

    padding: 0px 15px ;
}
.duwenBottom .dwbLeft img{
    height: 336px;
}


.dwbRight{
    width:50%;
    height: 333px;
    position: relative;
    overflow: hidden;
}
.dwbRight ul{
    position: absolute;
    width: 3000px;

}
.dwbRight ul li{
    width: 535px;
    height: 333px;
    float: left;
}
.dwbRight ul li img{
    width: 100%;
    height: 100%;
}
.dArrLeft,.dArrRig{
    position: absolute;
    width: 50px;
    height: 82px;
    font-size: 50px;
    top: 50%;
    font-family:"SimSun", "宋体" ;
    color: #000;
    line-height: 82px;
    margin-top: -41px;
    background: #999999;
    cursor: pointer;
    opacity: 0.6;
    z-index: 100;
    text-align: center;
    display: none;
}
.dArrRig{
    right: 0;
}

/*底部*/
.foot{
    height: 414px;
    background: #222;
    margin-top: 31px;
    overflow: hidden;
}
.foot-m{
    height: 362px;
    margin-top: 35px;
    position: relative;
}
.foot-m .one{
    width: 24%;
    float: left;
}
.foot-m h2{
    margin-top: 0;
    font-family: "微软雅黑";
    font-size: 24px;
    color: #fff;
    height: 51px;
    line-height: 50px;
    border-bottom: solid 1px #666;
}
.foot-m p{
    font-family: "微软雅黑";
    font-size: 14px;
    color: #999;
    line-height: 30px;
}
.foot-m .one li a{
    color: #999;
    line-height: 30px;
    font-family: "微软雅黑";
    font-size: 14px;
}
.foot-m .two{
    width: 24%;
    float: left;
    margin-left: 12px;
}
.foot-m .three{
    width: 24%;
    float: left;
    margin-left: 12px;
}
.foot-m .three .ewn{
    margin-top: 5px;
}
.foot-m .four{
    width: 24%;
    float: left;
    margin-left: 12px;
}
.foot-m .four img{
    padding-right:15px;
}
.foot-m .five{
    width: 100%;
    height: 81px;
    position: absolute;
    top:80%;
}
.foot-m .five h6{
    font-family: "微软雅黑";
    color: #999;
    line-height: 24px;
    text-align: center;
}
.foot-m .five h6 a{
    color: #999;
}
.foot-m .five .gotop a{
    margin: 0 auto;
    display: block;
    width: 112px;
    height: 32px;
    border: solid 1px #fff;
    line-height: 30px;
    font-family: "微软雅黑";
    color: #fff;
    text-align: center;
    margin-top: 10px;
}
/*故事*/
.story{
    padding: 30px 0;
}
.story .stitle{
    /*margin: 0 auto;*/
    text-align: center;
}
.story .stitle a{
    color: #333333;
    font-size: 24px;
}
.story .stitle a:hover{
    color: red;
}
.story .stitle p{
    margin-top: 10px;

}
.story .stitle p a{
    font-size: 16px;
    color: #999;
}
.story .stitle p a:hover{
    color: #999;
}
.story .stitle span{
    margin: 0 auto;

    display: block;
    width: 34px;
    height: 4px;
    background-color: red;
}

.sphoto{
    width: 1000px;
    height: 725px;
    margin: 50px auto;
}
.sphoto li{
    float: left;
    list-style: none;

}
.sphoto1{
    width: 1000px;
    height: 498px;
}
.sphoto1le{
    width: 499px;
    height: 498px;
    position: relative;
    overflow: hidden;

}
.p1{
    float: left;
    width: 499px;
    height: 100px;
    margin-top: -40px;
    padding-top: 10px;


}
.storytitle{
    width: 499px;
    height: 110px;
    background: rgba(0,0,0,0.6);
    position: absolute;

}
.p1 span{
    color: #FFFFFF;
    font-size: 20px;
    margin-left: 10px;
}
.bl{
    margin-top: 15px;
    color: #c2c2c2;
    height: 20px;
    font-size: 12px;
}
.storytitle_icon{
    width: 20px;
    height: 16px;
    float: right;
    margin-right: 15px;
}

.sphoto1ri{
    width: 499px;
    height: 498px;
}
.sphoto1ri .sphoto1ritop{
    height: 249px;
    position: relative;
    overflow: hidden;

}
.sphoto1ri .sphoto1ribt{
    height: 249px;
    position: relative;
    overflow: hidden;
}
.sphoto2le,.sphoto2mi,.sphoto2ri{
    height: 231px;
    width: 332px;
    overflow: hidden;
    float: left;
    position: relative;
}
.sphoto2 .storytitle{
    width: 332px;
    height: 110px;
    background: rgba(0,0,0,0.6);
    position: absolute;
}
.sphoto2 .bl{
    margin-top: 15px;
    color: #c2c2c2;
    height: 20px;
}
/*故事*/