<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seu.dm.mappers.HomePageMapper" >
  <resultMap id="BaseResultMap" type="com.seu.dm.entities.HomePage" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="picture_src" property="pictureSrc" jdbcType="VARCHAR" />
    <result column="picture_url" property="pictureUrl" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="school_id" property="schoolId" jdbcType="INTEGER" />
    <result column="order" property="order" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, picture_src, picture_url, title, description, school_id, order
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from home_page
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from home_page
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.seu.dm.entities.HomePage" >
    insert into home_page (id, picture_src, picture_url, 
      title, description, school_id, 
      order)
    values (#{id,jdbcType=INTEGER}, #{pictureSrc,jdbcType=VARCHAR}, #{pictureUrl,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{schoolId,jdbcType=INTEGER}, 
      #{order,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.seu.dm.entities.HomePage" >
    insert into home_page
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pictureSrc != null" >
        picture_src,
      </if>
      <if test="pictureUrl != null" >
        picture_url,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="schoolId != null" >
        school_id,
      </if>
      <if test="order != null" >
        order,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pictureSrc != null" >
        #{pictureSrc,jdbcType=VARCHAR},
      </if>
      <if test="pictureUrl != null" >
        #{pictureUrl,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="schoolId != null" >
        #{schoolId,jdbcType=INTEGER},
      </if>
      <if test="order != null" >
        #{order,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.seu.dm.entities.HomePage" >
    update home_page
    <set >
      <if test="pictureSrc != null" >
        picture_src = #{pictureSrc,jdbcType=VARCHAR},
      </if>
      <if test="pictureUrl != null" >
        picture_url = #{pictureUrl,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="schoolId != null" >
        school_id = #{schoolId,jdbcType=INTEGER},
      </if>
      <if test="order != null" >
        order = #{order,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.seu.dm.entities.HomePage" >
    update home_page
    set picture_src = #{pictureSrc,jdbcType=VARCHAR},
      picture_url = #{pictureUrl,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      school_id = #{schoolId,jdbcType=INTEGER},
      order = #{order,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>