<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seu.dm.mappers.OrderProductMapper" >
  <resultMap id="BaseResultMap" type="com.seu.dm.entities.OrderProduct" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="product_num" property="productNum" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, product_id, product_num, order_id, price
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from order_product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="findOneOrderProductByOrderId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from order_product where order_id = #{id} limit 1
  </select>
  <select id="findOrderProductByProductId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from order_product where product_id = #{id}
  </select>
  <select id="findHotProducts" parameterType="java.lang.Integer" resultType="java.util.HashMap">
    SELECT product_id,sum(product_num) m from order_product
    group by product_id order by m desc limit #{n}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from order_product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.seu.dm.entities.OrderProduct" >
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into order_product (id, product_id, product_num, order_id, price
      )
    values (#{id,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, #{productNum,jdbcType=INTEGER},
    #{orderId,jdbcType=INTEGER}, #{price,jdbcType=DECIMAL} )
  </insert>
  <insert id="insertSelective" parameterType="com.seu.dm.entities.OrderProduct" >
    insert into order_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="productNum != null" >
        product_num,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="price != null" >
        price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="productNum != null" >
        #{productNum,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.seu.dm.entities.OrderProduct" >
    update order_product
    <set >
      <if test="productId != null" >
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="productNum != null" >
        product_num = #{productNum,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
       order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
      price = #{price,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.seu.dm.entities.OrderProduct" >
    update order_product
    set product_id = #{productId,jdbcType=INTEGER},
      product_num = #{productNum,jdbcType=INTEGER},
      order_id = #{orderId,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>