<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seu.dm.mappers.ProductMapper">
  <resultMap id="BaseResultMap" type="com.seu.dm.entities.Product">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="seller_id" jdbcType="INTEGER" property="sellerId" />
    <result column="year" jdbcType="VARCHAR" property="year" />
    <result column="keywords" jdbcType="VARCHAR" property="keywords" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="is_discount" jdbcType="BIT" property="isDiscount" />
    <result column="discount_price" jdbcType="DECIMAL" property="discountPrice" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="picture_id" jdbcType="INTEGER" property="pictureId" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="is_shelf" jdbcType="BIT" property="isShelf" />
    <result column="inventory" jdbcType="INTEGER" property="inventory" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.seu.dm.entities.Product">
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, price, seller_id, year, keywords, add_time, quantity, is_discount, discount_price,
    category, picture_id, is_deleted, is_shelf, inventory
  </sql>
  <sql id="Blob_Column_List">
    description
  </sql>
  <select id="getNewProductsByCampusId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select p.id , p.name, p.price, p.picture_id
    from product as p left join seller s ON p.seller_id = s.id
    where s.campus_id = #{campusId} order by p.add_time desc
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getProductsByNameAndScreenByPrice" resultMap="ResultMapWithBLOBs">
    select * from product WHERE NAME LIKE concat('%',#{s},'%')and price between #{minPrice} and #{maxPrice} order by price
  </select>
  <select id="getProductsBySellerId" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select * from product where seller_id = #{sellerId}
  </select>
  <select id="getProductsByName" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select * from product
    WHERE NAME LIKE concat('%',#{s},'%');
  </select>
  <select id="getCountOfResultsByName" parameterType="java.lang.String" resultType="java.lang.Integer">
    select COUNT(*) from product
    WHERE NAME LIKE concat('%',#{s},'%')
  </select>
  <select id="getResultsByCategory" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    SELECT * FROM product
    WHERE category = #{s}
  </select>
  <select id="getPriceById" parameterType="java.lang.Integer" resultType="java.math.BigDecimal">
    SELECT price from product
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.seu.dm.entities.Product">
    insert into product (id, name, price, 
      seller_id, year, keywords, 
      add_time, quantity, is_discount, 
      discount_price, category, picture_id,
      is_deleted, is_shelf, inventory, description)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, 
      #{sellerId,jdbcType=INTEGER}, #{year,jdbcType=VARCHAR}, #{keywords,jdbcType=VARCHAR}, 
      #{addTime,jdbcType=TIMESTAMP}, #{quantity,jdbcType=INTEGER}, #{isDiscount,jdbcType=VARCHAR}, 
      #{discountPrice,jdbcType=DECIMAL},#{category,jdbcType=VARCHAR}, #{pictureId,jdbcType=INTEGER},
      #{isDeleted,jdbcType=BIT}, #{isShelf,jdbcType=BIT},#{inventory,jdbcType=INTEGER}, #{description,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.seu.dm.entities.Product">
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="sellerId != null">
        seller_id,
      </if>
      <if test="year != null">
        year,
      </if>
      <if test="keywords != null">
        keywords,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="quantity != null">
        quantity,
      </if>
      <if test="isDiscount != null">
        is_discount,
      </if>
      <if test="discountPrice != null">
        discount_price,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="pictureId != null">
        picture_id,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="isShelf != null">
        is_shelf,
      </if>
      <if test="inventory != null">
        inventory,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="sellerId != null">
        #{sellerId,jdbcType=INTEGER},
      </if>
      <if test="year != null">
        #{year,jdbcType=VARCHAR},
      </if>
      <if test="keywords != null">
        #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="isDiscount != null">
        #{isDiscount,jdbcType=VARCHAR},
      </if>
      <if test="inventory != null">
        #{inventory,jdbcType=INTEGER},
      </if>
      <if test="discountPrice != null">
        #{discountPrice,jdbcType=DECIMAL},
      </if>
      <if test="description != null">
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.seu.dm.entities.Product">
    update product
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="sellerId != null">
        seller_id = #{sellerId,jdbcType=INTEGER},
      </if>
      <if test="year != null">
        year = #{year,jdbcType=VARCHAR},
      </if>
      <if test="keywords != null">
        keywords = #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="quantity != null">
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="isDiscount != null">
        is_discount = #{isDiscount,jdbcType=VARCHAR},
      </if>
      <if test="discountPrice != null">
        discount_price = #{discountPrice,jdbcType=DECIMAL},
      </if>
      <if test="category != null">
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="pictureId != null">
        #{pictureId,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="isShelf != null">
        #{isShelf,jdbcType=BIT},
      </if>
      <if test="inventory != null">
        #{inventory,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.seu.dm.entities.Product">
    update product
    set name = #{name,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      seller_id = #{sellerId,jdbcType=INTEGER},
      year = #{year,jdbcType=VARCHAR},
      keywords = #{keywords,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      quantity = #{quantity,jdbcType=INTEGER},
      is_discount = #{isDiscount,jdbcType=VARCHAR},
      discount_price = #{discountPrice,jdbcType=DECIMAL},
      category = #{category,jdbcType=VARCHAR},
      picture_id = #{pictureId,jdbcType=INTEGER},
      is_deleted = #{isDeleted,jdbcType=BIT},
      is_shelf = #{isShelf,jdbcType=BIT},
      description = #{description,jdbcType=LONGVARCHAR},
      inventory = #{inventory,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.seu.dm.entities.Product">
    update product
    set name = #{name,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      seller_id = #{sellerId,jdbcType=INTEGER},
      year = #{year,jdbcType=VARCHAR},
      keywords = #{keywords,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      quantity = #{quantity,jdbcType=INTEGER},
      is_discount = #{isDiscount,jdbcType=VARCHAR},
      discount_price = #{discountPrice,jdbcType=DECIMAL},
      category = #{category,jdbcType=VARCHAR},
      picture_id = #{pictureId,jdbcType=INTEGER},
      is_deleted = #{isDeleted,jdbcType=BIT},
      is_shelf = #{isShelf,jdbcType=BIT},
      inventory = #{inventory,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>