<left>
<div class="col-xs-2"></div>
<div class="col-xs-1 border-one border-r6 mt-40">
    <table class="table">
        <tr class="active">
            <td colspan="2"><i class="iconfont">&#xe722;</i>我的店铺</td><br/>
        </tr>
        <tr class="success">
            <td colspan="2">
                <h5><i class="iconfont">&#xe61a;</i>店铺管理</h5>
                <span class="seller_shop mr-5 login"><a href="modify_message.html" th:href="@{/demo/modify}">修改信息</a></span>
            </td>
        </tr>
        <tr class="warning">
            <td colspan="2">
                <h5><i class="iconfont">&#xe6db;</i>商品管理</h5>
                <span class="seller_shop mr-5"><a href="new_products.html" th:href="@{/demo/new}">新品上架</a></span><br/>
                <span class="seller_shop mr-5"><a href="stock_goods.html" th:href="@{/demo/stock}">库存商品</a></span><br/>
            </td>
        </tr>
        <tr class="danger">
            <td colspan="2">
                <h5><i class="iconfont">&#xe626;</i>交易管理</h5>
                <span class="seller_shop mr-5"><a href="transaction_manage.html" th:href="@{/seller/orders}">订单管理</a></span><br/>
            </td>
        </tr>
    </table>
</div>
</left>