<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- Any Other things should follow these 3 meta above -->
    <title>买过的商品</title>
    <!-- Bootstrap -->
    <link href="/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
    <link href="/css/common.css" rel="stylesheet"/>
    <link href="/css/buyer_center.css" rel="stylesheet"/>
    <link href="/css/pop-up.css" rel="stylesheet" media="all"/>
    <!-- Custom styles -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/js/common/jquery-3.1.1.min.js"></script>
    <script src="/js/login.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/js/common/html5shiv.min.js"></script>
    <script src="/js/common/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- this is the common top begin -->
<div class="container-fluid">
    <div data-th-replace="common_html/common_head"></div>
    <div class="row banner">
        <div class="col-xs-2 col-sm-2"></div>
        <div class="col-xs-8 col-sm-8">
            <div class="row">

                <div class="col-xs-3 logo"><img src="/img/cute_logo.jpg" class="logo_wh"/></div>
                <div class="col-xs-5 font-bold">
                    <a class="mr-15 glyphicon glyphicon-user" href="buyer_center.html" th:href="@{/buyer/buyer_center}">买家中心</a>
                    <a class="mr-15 glyphicon glyphicon-cog" href="buyer_setting.html" th:href="@{/buyer/buyer_setting}">设置</a>
                    <a class="mr-15 glyphicon glyphicon-envelope" href="#">消息</a>
                </div>
                <div class="col-xs-4 col-sm-4">
                    <form class="form-inline">
                        <div class="form-group">

                            <input type="text" class="form-control search" id="search" placeholder="请输入商品名\关键词\店铺名\社团名"/>

                        </div>
                        <button type="submit" class="btn btn-default ">搜索</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- this is the common top end -->
<div class="container">
    <div class="row">
        <div class="col-xs-2">
            <ul class="list-unstyled">
                <li class="font-red font-middle mt-10">全 部 功 能</li>
                <li class="mt-10 "><a th:href="@{/buyer/shopping_cart.html}"  href="shopping_cart.html" class="font-black glyphicon glyphicon-shopping-cart"> 我的购物车</a> </li>
                <li class="mt-10 "><a th:href="@{/buyer/buyer_favorite.html}" href="xxxxxxxxxxxxxxxxbuyer_favorite.html" class="font-black glyphicon glyphicon-star-empty"> 我的收藏夹</a> </li>
                <li class="mt-10 "><a th:href="@{/buyer/bought_products.html}" href="bought_products.html" class="font-black glyphicon glyphicon-ok-circle"> 已买到的宝贝</a> </li>
                <li class="mt-10 "><a th:href="@{/buyer/bought_shops.html}" href="bought_shops.html" class="font-black glyphicon glyphicon-home"> 购买过的店铺</a> </li>
                <li class="mt-10 "><a th:href="@{/buyer/comment_management.html}" href="comment_management.html" class="font-black glyphicon glyphicon-list-alt"> 评价管理</a> </li>
                <li class="mt-10 "><a th:href="@{/buyer/foot_print.html}" href="xxxxxxxxxxxxxxxxxxxxxxfoot_print.html" class="font-black glyphicon glyphicon-time"> 我的足迹</a> </li>
            </ul>
        </div>

        <div class="col-xs-10" style="min-height: 500px">
                <div class="row mt-10">
                    <ul class="nav nav-tabs font-bold">
                        <li class="active"><a data-toggle="tab" href="#allOrders">所有订单</a></li>
                        <li><a data-toggle="tab" href="#toPay">待支付</a></li>
                        <li><a data-toggle="tab" href="#toDeliver">待发货</a></li>
                        <li><a data-toggle="tab" href="#toTake">待收货</a></li>
                        <li><a data-toggle="tab" href="#toComment">待评价</a></li>
                        <li><a data-toggle="tab" href="#toRefund">退款</a></li>
                    </ul>

                </div>
                    <div class="tab-content mt-20">
                        <div id="allOrders" class="tab-pane fade in active ">
                            <div class="row mt-20  bk-grey border-one" style="height: 30px;">
                                <div class="col-xs-2">商品</div>
                                <div class="col-xs-1">单价</div>
                                <div class="col-xs-1">数量</div>
                                <div class="col-xs-2">商品操作</div>
                                <div class="col-xs-2">实付款</div>
                                <div class="col-xs-2">交易状态</div>
                                <div class="col-xs-2">交易操作</div>
                            </div>
                            <div class="row mt-20 bk-blue border-one">
                                <div class="col-xs-2">订单日期</div>
                                <div class="col-xs-2">订单号</div>
                                <div class="col-xs-2">店铺名</div>
                            </div>
                            <div class="row mt-10">
                                <div class="col-xs-2">
                                    <img src="#" alt="图片" class="order_item_img"/><br/>
                                    <a href="#"><span class="font-small">商品名称</span></a>
                                </div>
                                <div class="col-xs-1">
                                    <span class="font-small">单价</span>
                                </div>
                                <div class="col-xs-1">
                                    <span class="font-small">数量</span>
                                </div>
                                <div class="col-xs-2 font-small">
                                    <a href="#">退款/</a>
                                    <a href="#">退货</a>
                                </div>
                                <div class="col-xs-2">
                                    <strong>￥</strong><span class="font-small">实付款金额</span>
                                </div>
                                <div class="col-xs-2">
                                    <span class="font-small">交易状态</span>
                                </div>
                                <div class="col-xs-2">
                                    <span class="font-small">交易操作</span>
                                </div>
                            </div>
                        </div>
                        <div id="toPay" class="tab-pane fade">
                            <div class="row mt-20  bk-grey border-one" style="height: 30px;">
                                <div class="col-xs-2">商品</div>
                                <div class="col-xs-1">单价</div>
                                <div class="col-xs-1">数量</div>
                                <div class="col-xs-2">商品操作</div>
                                <div class="col-xs-2">实付款</div>
                                <div class="col-xs-2">交易状态</div>
                                <div class="col-xs-2">交易操作</div>
                            </div>
                            <div class="row mt-20 bk-blue border-one">
                                <div class="col-xs-2">订单日期</div>
                                <div class="col-xs-2">订单号</div>
                                <div class="col-xs-2">店铺名</div>
                            </div>
                            <div class="row mt-10">
                                <div class="col-xs-2">
                                    <img src="#" alt="图片" class="order_item_img"/><br/>
                                    <a href="#"><span class="font-small">商品名称</span></a>
                                </div>
                                <div class="col-xs-1">
                                    <span class="font-small">单价</span>
                                </div>
                                <div class="col-xs-1">
                                    <span class="font-small">数量</span>
                                </div>
                                <div class="col-xs-2 font-small">
                                    <a href="#">退款/</a>
                                    <a href="#">退货</a>
                                </div>
                                <div class="col-xs-2">
                                    <strong>￥</strong><span class="font-small">实付款金额</span>
                                </div>
                                <div class="col-xs-2">
                                    <span class="font-small">交易状态</span>
                                </div>
                                <div class="col-xs-2">
                                    <span class="font-small">交易操作</span>
                                </div>
                            </div>
                        </div>
                        <div id="toDeliver" class="tab-pane fade">
                            <div class="row mt-20  bk-grey border-one" style="height: 30px;">
                                <div class="col-xs-2">商品</div>
                                <div class="col-xs-1">单价</div>
                                <div class="col-xs-1">数量</div>
                                <div class="col-xs-2">商品操作</div>
                                <div class="col-xs-2">实付款</div>
                                <div class="col-xs-2">交易状态</div>
                                <div class="col-xs-2">交易操作</div>
                            </div>
                            <div class="row mt-20 bk-blue border-one">
                                <div class="col-xs-2">订单日期</div>
                                <div class="col-xs-2">订单号</div>
                                <div class="col-xs-2">店铺名</div>
                            </div>
                            <div class="row mt-10">
                                <div class="col-xs-2">
                                    <img src="#" alt="图片" class="order_item_img"/><br/>
                                    <a href="#"><span class="font-small">商品名称</span></a>
                                </div>
                                <div class="col-xs-1">
                                    <span class="font-small">单价</span>
                                </div>
                                <div class="col-xs-1">
                                    <span class="font-small">数量</span>
                                </div>
                                <div class="col-xs-2 font-small">
                                    <a href="#">退款/</a>
                                    <a href="#">退货</a>
                                </div>
                                <div class="col-xs-2">
                                    <strong>￥</strong><span class="font-small">实付款金额</span>
                                </div>
                                <div class="col-xs-2">
                                    <span class="font-small">交易状态</span>
                                </div>
                                <div class="col-xs-2">
                                    <span class="font-small">交易操作</span>
                                </div>
                            </div>
                        </div>
                        <div id="toTake" class="tab-pane fade">
                            <div class="row mt-20  bk-grey border-one" style="height: 30px;">
                                <div class="col-xs-2">商品</div>
                                <div class="col-xs-1">单价</div>
                                <div class="col-xs-1">数量</div>
                                <div class="col-xs-2">商品操作</div>
                                <div class="col-xs-2">实付款</div>
                                <div class="col-xs-2">交易状态</div>
                                <div class="col-xs-2">交易操作</div>
                            </div>
                            <div class="row mt-20 bk-blue border-one">
                                <div class="col-xs-2">订单日期</div>
                                <div class="col-xs-2">订单号</div>
                                <div class="col-xs-2">店铺名</div>
                            </div>
                            <div class="row mt-10">
                                <div class="col-xs-2">
                                    <img src="#" alt="图片" class="order_item_img"/><br/>
                                    <a href="#"><span class="font-small">商品名称</span></a>
                                </div>
                                <div class="col-xs-1">
                                    <span class="font-small">单价</span>
                                </div>
                                <div class="col-xs-1">
                                    <span class="font-small">数量</span>
                                </div>
                                <div class="col-xs-2 font-small">
                                    <a href="#">退款/</a>
                                    <a href="#">退货</a>
                                </div>
                                <div class="col-xs-2">
                                    <strong>￥</strong><span class="font-small">实付款金额</span>
                                </div>
                                <div class="col-xs-2">
                                    <span class="font-small">交易状态</span>
                                </div>
                                <div class="col-xs-2">
                                    <span class="font-small">交易操作</span>
                                </div>
                            </div>
                        </div>
                        <div id="toComment" class="tab-pane fade">
                            <div class="row mt-20  bk-grey border-one" style="height: 30px;">
                                <div class="col-xs-2">商品</div>
                                <div class="col-xs-1">单价</div>
                                <div class="col-xs-1">数量</div>
                                <div class="col-xs-2">商品操作</div>
                                <div class="col-xs-2">实付款</div>
                                <div class="col-xs-2">交易状态</div>
                                <div class="col-xs-2">交易操作</div>
                            </div>
                            <div class="row mt-20 bk-blue border-one">
                                <div class="col-xs-2">订单日期</div>
                                <div class="col-xs-2">订单号</div>
                                <div class="col-xs-2">店铺名</div>
                            </div>
                            <div class="row mt-10">
                                <div class="col-xs-2">
                                    <img src="#" alt="图片" class="order_item_img"/><br/>
                                    <a href="#"><span class="font-small">商品名称</span></a>
                                </div>
                                <div class="col-xs-1">
                                    <span class="font-small">单价</span>
                                </div>
                                <div class="col-xs-1">
                                    <span class="font-small">数量</span>
                                </div>
                                <div class="col-xs-2 font-small">
                                    <a href="#">退款/</a>
                                    <a href="#">退货</a>
                                </div>
                                <div class="col-xs-2">
                                    <strong>￥</strong><span class="font-small">实付款金额</span>
                                </div>
                                <div class="col-xs-2">
                                    <span class="font-small">交易状态</span>
                                </div>
                                <div class="col-xs-2">
                                    <span class="font-small">交易操作</span>
                                </div>
                            </div>
                        </div>
                        <div id="toRefund" class="tab-pane fade">
                                <div class="row mt-20  bk-grey border-one" style="height: 30px;">
                                    <div class="col-xs-2">商品</div>
                                    <div class="col-xs-1">单价</div>
                                    <div class="col-xs-1">数量</div>
                                    <div class="col-xs-2">商品操作</div>
                                    <div class="col-xs-2">实付款</div>
                                    <div class="col-xs-2">交易状态</div>
                                    <div class="col-xs-2">交易操作</div>
                                </div>
                                <div class="row mt-20 bk-blue border-one">
                                    <div class="col-xs-2">订单日期</div>
                                    <div class="col-xs-2">订单号</div>
                                    <div class="col-xs-2">店铺名</div>
                                </div>
                                <div class="row mt-10">
                                    <div class="col-xs-2">
                                        <img src="#" alt="图片" class="order_item_img"/><br/>
                                        <a href="#"><span class="font-small">商品名称</span></a>
                                    </div>
                                    <div class="col-xs-1">
                                        <span class="font-small">单价</span>
                                    </div>
                                    <div class="col-xs-1">
                                        <span class="font-small">数量</span>
                                    </div>
                                    <div class="col-xs-2 font-small">
                                        <a href="#">退款/</a>
                                        <a href="#">退货</a>
                                    </div>
                                    <div class="col-xs-2">
                                        <strong>￥</strong><span class="font-small">实付款金额</span>
                                    </div>
                                    <div class="col-xs-2">
                                        <span class="font-small">交易状态</span>
                                    </div>
                                    <div class="col-xs-2">
                                        <span class="font-small">交易操作</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

<!--This is the common footer Begin-->
<div class="navbar-fixed-bottom">
    <div class="container-fluid mt-20 ">
        <div class="row">
            <div class="col-xs-12 footer-info bottom-height">
                <div class="col-xs-2 col-xs-offset-3 mt-40 "><img src="/img/logo_button_1.jpg"/></div>
                <div class="col-xs-3 mt-40 "><img src="/img/logo_button_2.jpg " /><br/><span class="font-grey" >一家专门做校园文化产品的网站</span></div>
                <div class="col-xs-4 mt-60"><img class="qr-code"  src="/img/qr_code.png "/><br/><div class="mt-20 ">扫码有惊喜哦</div></div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row mt-20 font-small">
            <div class="col-xs-2 col-sm-2"></div>
            <div class="col-xs-8 col-sm-8">
                <div id="footer">
                    <div class="footerNav text-center">
                        <a href="#">关于我们</a> |
                        <a href="#">服务条款</a> |
                        <a href="#">免责声明</a> |
                        <a href="#">网站地图</a> |
                        <a href="#">联系我们</a>
                    </div>
                    <div class="copyRight text-center">
                        Copyright DaMi
                    </div>
                </div>
            </div>
            <div class="col-xs-2"></div>
        </div>
    </div>
</div>



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/common/jquery-3.1.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>