<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>购物车没有商品</title>
    <link href="/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
    <link href="/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet"/>
    <link href="/css/common.css" rel="stylesheet"/>
</head>
<body>
    <script>
        alert("当前您的购物车内没有商品!");
    </script>
    <div class="container mt-60 ml-40 font-bold font-big"><a th:href="@{/}">返回网站首页</a></div>
</body>
</html>