<div class="container-fluid" style="margin-right: -15px;margin-left: -15px" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="row top font-small">
        <div class="col-md-2 col-sm-2"></div>
        <div class="col-md-8 col-sm-8">
            <label>当前学校：</label><span>东南大学</span>
            <label>当前校区：</label>
            <select id="select_campus" style="width: 66px;height: 18px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;opacity: 0.8;" >
                <option >九龙湖</option>
                <option >四牌楼</option>
                <option >丁家桥</option>
                <option >苏州</option>
                <option >无锡</option>
            </select>
            <div class="float-right">
                <span th:if="${session.userBase}==null">
                    <a href="javascript:;" class="theme-logIn">登录</a>
                    <a href="" th:href="@{/register}">注册</a>
                </span>
                <span th:if="${session.userBase}!=null">
                    <span th:if="${session.userBase.role} == 'buyer'"><a href="javascript:;" th:href="@{/buyer/center}" class="theme-logIn">买家个人中心</a></span>
                    <span th:if="${session.userBase.role} == 'seller'"><a href="javascript:;" th:href="@{/seller/center}" class="theme-logIn">卖家个人中心</a></span>
                    <span th:if="${session.userBase.role} == 'campusAdmin'"><a href="javascript:;" th:href="@{/campusAdmin/center}" class="theme-logIn">管理员个人中心</a></span>
                    <span th:if="${session.userBase.role} == 'superAdmin'"><a href="javascript:;" th:href="@{/superAdmin/center}" class="theme-logIn">超级管理员个人中心</a></span>
                    <a href="" th:href="@{/logout}">注销</a>
                </span>
            </div>
            <div class="theme-popover">
                <div class="theme-popTit">
                    <a href="javascript:;" title="关闭" class="close">×</a>
                    <h4>登录DaMi，享受更多优惠</h4>
                </div>
                <div class="theme-popBod dForm">
                    <form class="theme-signIn" name="loginForm" action="" th:action="@{/login}" method="post">
                        <ol>
                            <li><strong>用户名：</strong><input class="ipt" type="text" name="name"  size="20" /></li>
                            <li><strong>密</strong>&nbsp;&nbsp;&nbsp;<strong>码：</strong><input class="ipt" type="password" name="password"  size="20" /></li>
                            <li><strong>买家</strong>&nbsp;&nbsp;&nbsp;<input type="radio" name="userType" value="buyer" checked="checked"  />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <strong>卖家</strong>&nbsp;&nbsp;&nbsp;<input type="radio" name="userType" value="seller"  /></li>

                            <li><input class="btn btn-primary" type="submit"  value=" 登 录 " />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="#" th:href="@{/register}" style="padding-left: 50px">没有账号? 请注册</a></li>
                            <li></li>
                        </ol>
                    </form>
                </div>
            </div>
            <div class="theme-popover-mask"></div>
        </div>
        <div class="col-md-2 col-sm-2">
        </div>
    </div>
</div>